# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

/tools/executors/pseudo-test/**/*.js
/tools/executors/pseudo-test/modified-results
/tools/executors/schema-generator/**/*.js

# dependencies
/node_modules

# IDEs and editors
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - IntelliJ
/.idea
!.idea/jsLinters/eslint.xml
!.idea/prettier.xml
!.idea/vcs.xml

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.angular
.nx/cache
